.rows {
  overflow: hidden;
}

.rows ul {
  display: grid;
  grid-template-columns: repeat(7, 1fr);

  margin: 0;
  padding: 0;
}

.rows i {
  color: gold;
  font-size: 4rem;
}

.rows ul:nth-child(2n) {
  background-color: rgba(128, 128, 128, 0.342);
}
.rows ul li {
  font-size: 1.5rem;
}

@media only screen and (max-width: 450px) {
  .rows ul li {
    font-size: 1rem;
  }
  .rows i {
    color: gold;
    font-size: 2rem;
    text-align: center;
  }
}
